
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}


header {
    background: #ffffff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


.logo {
    font-size: 24px;
    width: 192px;
    display: inline-block;
}


.logo img{
    width: 50%;
    height: 100%;
}


nav ul {
    list-style: none;
    display: flex;
}


nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: black;
    text-decoration: none;
}


.main-section {
    background: #ddd;
    padding: 20px;
    text-align: center;
}


.main-section h1 {
    margin-bottom: 20px;
}


.main-image {
    width: 100%;
    height: 100%;
    line-height: 200px;
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}
.main-image img{
    width: 512px;
    height: 512px;
}


.products {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.product {
    background: #eee;
    padding: 20px;
    width: 30%;
    text-align: center;
}


.product-image {
    background: #ccc;
    height: 250px;
    line-height: 200px;
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}


.product-image img{
    width: 100%;
    height: 100%;
    background-image: url("pexels-pixabay-48148.jpg");
    background-size: 100% 100%;
}


.contact {
    background: #ddd;
    padding: 20px;
    text-align: center;
}


.map {
    background: #aaa;
    height: 400px;
    width: 520px;
    line-height: 200px;
    color: #fff;
    font-size: 2em;
    margin: 20px 0;
    margin: auto;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-align: left;
    display: flex;
    padding: 10px;
}


.footer-contact {
    padding-left: 3rem;
}


@media (max-width: 768px) {
    .products {
        flex-direction: column;
    }


    .product {
        width: 100%;
        margin-bottom: 20px;
    }
}